<form>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Vul hier wat in" name="Ingevuld"> <br />
    <button type="submit">
        Versturen
    </button>
    <br />
</form>
@Html.Raw(ViewBag.Info)