<form>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Vak" name="vak"> <br />
        <input type="text" class="form-control" placeholder="Cijfer" name="cijfer"> <br />
    </div>
    <button type="submit">
        Versturen
    </button>
    <br />
</form>
@Html.Raw(ViewBag.Info)