<form>
    <div class="form-group">
        <input type="number" class="form-control" placeholder="Getal 1" name="invoer1"> <br />
        <input type="number" class="form-control" placeholder="Getal 2" name="invoer2"> <br />
        <input type="number" class="form-control" placeholder="Getal 3" name="invoer3"> <br />
    </div>
    <button type="submit">
        Versturen
    </button>
    <br />
</form>
@Html.Raw(ViewBag.Info)