<form>
    <div>
        <p>een automorf getal is een getal dat in het kwadraait eindigt op dezelfde cijfers van het getal zelf. 5 is een voorbeeld van een automorf getal, 5 in het kwardaat is 25 en eindigd dus op 5.</p>
    </div>
    <div class="form-group">
        <p>Vul een getal in zonder decimaal en maximaal 2 cijfers</p>
        <input type="number" class="form-control" placeholder="15" name="automorf"> <br />
    </div>
    <button type="submit">
        Versturen
    </button>
    <br />
</form>
@Html.Raw(ViewBag.Info)