<form>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Voornaam" name="Naam"> <br />
        <input type="date" class="form-control" placeholder="" name="geboorte">
    </div>
    <button type="submit">
        Versturen
    </button>
    <br />
</form>
@Html.Raw(ViewBag.Info)