@Html.Raw(ViewBag.Info)

<form>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="gewicht" name="gewicht"> <br />
        <input type="text" class="form-control" placeholder="lengte" name="lengte">
    </div>
    <button type="submit">
        Versturen
    </button>
    <br />
</form>
@ViewBag.bmi